<app-my-counter></app-my-counter>

<!-- Header Part -->
<div class="main_body">
<header id="header" class="header-part">
  <div class="container">
    <div class="max-container">
      <div class="row display-flex">
        <div class="col-md-6">
          <div class="logo">
            <img src="../assets/img/logo.png" alt="">
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="top-button">
            <a href="#">SignUp</a>
            <a href="#">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Nav Bar -->
  <div class="navigation-bar">
    <div class="container">
      <div class="max-container">
        <nav class="navbar navbar-expand-lg">
          <button class="navbar-toggler toggle-button" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars bars-i" aria-hidden="true"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav full-width">
              <ul class="top-bar">
                <li>
                  <a class="active" href="#">Technology</a>
                </li>
                <li>
                  <a class="" href="#">science</a>
                </li>
                <li>
                  <a class="" href="#">religion</a>
                </li>
                <li>
                  <a class="" href="#">Sports</a>
                </li>
                <li>
                  <a class="" href="#">About Us</a>
                </li>
                <li>
                  <a class="" href="#">Contacts</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <!-- /////Nav Bar -->
</header>
<!-- Header Part //////////////////////-->
<!-- Container Area -->
<section class="Content-Area">
  <div class="container">
    <div class="row main_row">
      <!-- Left Part -->
      <div class="aside_cont">
        <div class="left-main">
          <h2 class="heading-title">From the Left</h2>
          <div class="aside_wrap">
            <!-- Post 01 -->
            <div class="post-content">
              <img src="../assets/img/img-01.png" alt="">
              <h2>John Doe</h2>
              <p>It is a long established fact that a reader will be distracted by the readable. </p>
              <div class="bias-percent">
                <span>Bias:</span>
                <div class="per-text">50%</div>
                <span class="percentg">
                  <span class="blue-line"></span>
                  <span class="red-line"></span>
                </span>
              </div>
            </div>
            <!-- Post 01 end -->
            <!-- Post 02 -->
            <div class="post-content">
              <img src="../assets/img/img-01.png" alt="">
              <h2>John Doe</h2>
              <p>It is a long established fact that a reader will be distracted by the readable. </p>
              <div class="bias-percent">
                <span>Bias:</span>
                <div class="per-text">50%</div>
                <span class="percentg">
                  <span class="blue-line"></span>
                  <span class="red-line"></span>
                </span>
              </div>
            </div>
            <!-- Post 02 end -->
            <!-- Post 03 -->
            <div class="post-content">
              <img src="../assets/img/img-01.png" alt="">
              <h2>John Doe</h2>
              <p>It is a long established fact that a reader will be distracted by the readable. </p>
              <div class="bias-percent">
                <span>Bias:</span>
                <div class="per-text">50%</div>
                <span class="percentg">
                  <span class="blue-line"></span>
                  <span class="red-line"></span>
                </span>
              </div>
            </div>
            <!-- Post 03 end -->
            <!-- Post 04 -->
            <div class="post-content">
              <img src="../assets/img/img-01.png" alt="">
              <h2>John Doe</h2>
              <p>It is a long established fact that a reader will be distracted by the readable. </p>
              <div class="bias-percent">
                <span>Bias:</span>
                <div class="per-text">50%</div>
                <span class="percentg">
                  <span class="blue-line"></span>
                  <span class="red-line"></span>
                </span>
              </div>
            </div>
          </div>
          <!-- Post 04 end -->
        </div>
      </div>
      <!-- Left Part //////////////////////-->
      <!-- Center Area Part -->
      <section class="middle_container">
        <!-- Top Stories -->
        <div class="top-stories">
          <div class="top-stories-title">Top Stories</div>
          <ul class="top-stories-list">
            <li><a href="#"> 2020 Election</a></li>
            <li><a href="#">Voting Rights and Voter Fraud</a></li>
            <li><a href="#">Coronavirus</a></li>
            <li><a href="#">Election</a></li>
            <li><a href="#">Law</a></li>
            <li><a href="#">Vaccines</a></li>
            <li><a href="#">Media</a></li>
            <li><a href="#">Bias </a></li>
          </ul>
        </div>
        <!-- Top Stories -->
        <div class="holder">
          <h2 class="container-heading">What is Lorem Ipsum</h2>
          <div class="row trend_collage">
            <div class="col-md-6 no-padding-right">
              <div class="post01">
                <img src="../assets/img/post-img01.png" alt="">
                <div class="img-show">
                  <h2>What is Lorem Ipsum</h2>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <ul class="post-list">
                <li>
                  <a href="#">
                    <div class="post01 post02">
                      <img src="../assets/img/post-img01.png" alt="">
                      <div class="img-show">
                        <h2>What is Lorem Ipsum</h2>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="post01 post02">
                      <img src="../assets/img/post-img01.png" alt="">
                      <div class="img-show">
                        <h2>What is Lorem Ipsum</h2>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="post01 post02">
                      <img src="../assets/img/post-img01.png" alt="">
                      <div class="img-show">
                        <h2>What is Lorem Ipsum</h2>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="post01 post02">
                      <img src="../assets/img/post-img01.png" alt="">
                      <div class="img-show">
                        <h2>What is Lorem Ipsum</h2>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="sign-up-text">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
              looking at its layout.</p>
            <a href="#">Sign up</a>
          </div>
          <!-- Post detail 01 -->
          <div class="post-detail">
            <div class="row">
              <div class="col-md-4">
                <div class="post-img">
                  <img src="../assets/img/post-img01.png" alt="">
                </div>
              </div>
              <div class="col-md-8 no-padding-left">
                <div class="post-content-center">
                  <h2>What is Lorem Ipsum</h2>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.</p>
                </div>
                <div class="post-img">
                  <ul class="post-percentage">
                    <li>
                      <div class="post-percentage-content">
                        <span class="title01">From Left</span>
                        <p>It is a long established fact that a reader</p>
                        <div class="bias-percent">
                          <span>CNBC:</span>
                          <div class="per-text">50%</div>
                          <span class="percentg">
                            <span class="blue-line"></span>
                            <span class="red-line"></span>
                          </span>
                        </div>
                        <div class="bia_rate"><a href="#">Bias:</a></div>
                      </div>
                    </li>
                    <li>
                      <div class="post-percentage-content">
                        <span class="title01">From Left</span>
                        <p>It is a long established fact that a reader</p>
                        <div class="bias-percent">
                          <span>CNBC:</span>
                          <div class="per-text">50%</div>
                          <span class="percentg">
                            <span class="blue-line"></span>
                            <span class="red-line"></span>
                          </span>
                        </div>
                        <div class="bia_rate"><a href="#">Bias:</a></div>
                      </div>
                    </li>
                    <li>
                      <div class="post-percentage-content">
                        <span class="title01">From Left</span>
                        <p>It is a long established fact that a reader</p>
                        <div class="bias-percent">
                          <span>CNBC:</span>
                          <div class="per-text">50%</div>
                          <span class="percentg">
                            <span class="blue-line"></span>
                            <span class="red-line"></span>
                          </span>
                        </div>
                        <div class="bia_rate"><a href="#">Bias:</a></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Post detail 01 //////////////////////-->
          <!-- Post detail 02 -->
          <div class="post-detail">
            <div class="row">
              <div class="col-md-4">
                <div class="post-img">
                  <img src="../assets/img/post-img01.png" alt="">
                </div>
              </div>
              <div class="col-md-8 no-padding-left">
                <div class="post-content-center">
                  <h2>What is Lorem Ipsum</h2>
                  <p>It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.</p>
                </div>
                <div class="post-img">
                  <ul class="post-percentage">
                    <li>
                      <div class="post-percentage-content">
                        <span class="title01">From Left</span>
                        <p>It is a long established fact that a reader</p>
                        <div class="bias-percent">
                          <span>CNBC:</span>
                          <div class="per-text">50%</div>
                          <span class="percentg">
                            <span class="blue-line"></span>
                            <span class="red-line"></span>
                          </span>
                        </div>
                        <div class="bia_rate"><a href="#">Bias:</a></div>
                      </div>
                    </li>
                    <li>
                      <div class="post-percentage-content">
                        <span class="title01">From Left</span>
                        <p>It is a long established fact that a reader</p>
                        <div class="bias-percent">
                          <span>CNBC:</span>
                          <div class="per-text">50%</div>
                          <span class="percentg">
                            <span class="blue-line"></span>
                            <span class="red-line"></span>
                          </span>
                        </div>
                        <div class="bia_rate"><a href="#">Bias:</a></div>
                      </div>
                    </li>
                    <li>
                      <div class="post-percentage-content">
                        <span class="title01">From Left</span>
                        <p>It is a long established fact that a reader</p>
                        <div class="bias-percent">
                          <span>CNBC:</span>
                          <div class="per-text">50%</div>
                          <span class="percentg">
                            <span class="blue-line"></span>
                            <span class="red-line"></span>
                          </span>
                        </div>
                        <div class="bia_rate"><a href="#">Bias:</a></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Post detail 02 //////////////////////-->
          <!-- News Room -->
          <div class="news-room">
            <div class="news-room-inner row">
              <!------------news left-------------->
              <div class="news_colms col-4">
                <h1 class="col_head left">News from left</h1>
                <div class="news_wrap">
                  <div class="thumb_title">
                    <div class="thumb_sq">
                      <img src="../assets/img/img-01.png">
                    </div>
                    <div class="ttl_wrap">
                      <h3>What Joe Biden Means For Your Student Loans</h3>
                      <a href="#" class="news_cat edu">Education</a>
                    </div>
                  </div>
                  <div class="news_cont">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its
                  </div>
                  <div class="news_rate">
                    <div class="bias-percent">
                      <span>CNBC:</span>
                      <div class="per-text">50%</div>
                      <span class="percentg">
                        <span class="blue-line"></span>
                        <span class="red-line"></span>
                      </span>
                    </div>
                    <a href="#">Bias</a>
                  </div>
                </div>
                <div class="news_wrap">
                  <div class="thumb_title">
                    <div class="thumb_sq">
                      <img src="../assets/img/img-01.png">
                    </div>
                    <div class="ttl_wrap">
                      <h3>What Joe Biden Means For Your Student Loans</h3>
                      <a href="#" class="news_cat edu">Education</a>
                    </div>
                  </div>
                  <div class="news_cont">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its
                  </div>
                  <div class="news_rate">
                    <div class="bias-percent">
                      <span>CNBC:</span>
                      <div class="per-text">50%</div>
                      <span class="percentg">
                        <span class="blue-line"></span>
                        <span class="red-line"></span>
                      </span>
                    </div>
                    <a href="#">Bias</a>
                  </div>
                </div>
                <div class="news_wrap">
                  <div class="thumb_title">
                    <div class="thumb_sq">
                      <img src="../assets/img/img-01.png">
                    </div>
                    <div class="ttl_wrap">
                      <h3>What Joe Biden Means For Your Student Loans</h3>
                      <a href="#" class="news_cat edu">Education</a>
                    </div>
                  </div>
                  <div class="news_cont">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its
                  </div>
                  <div class="news_rate">
                    <div class="bias-percent">
                      <span>CNBC:</span>
                      <div class="per-text">50%</div>
                      <span class="percentg">
                        <span class="blue-line"></span>
                        <span class="red-line"></span>
                      </span>
                    </div>
                    <a href="#">Bias</a>
                  </div>
                </div>
              </div>
              <!-------------news center---------------------->
              <div class="news_colms col-4">
                <h1 class="col_head center">News from center</h1>
                <div class="news_wrap">
                  <div class="thumb_title">
                    <div class="thumb_sq">
                      <img src="../assets/img/img-01.png">
                    </div>
                    <div class="ttl_wrap">
                      <h3>Defence In depth</h3>
                      <a href="#" class="news_cat crm">crime</a>
                    </div>
                  </div>
                  <div class="news_cont">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its
                  </div>
                  <div class="news_rate">
                    <div class="bias-percent">
                      <span>CNBC:</span>
                      <div class="per-text">50%</div>
                      <span class="percentg">
                        <span class="blue-line"></span>
                        <span class="red-line"></span>
                      </span>
                    </div>
                    <a href="#">Bias</a>
                  </div>
                </div>
                <div class="news_wrap">
                  <div class="thumb_title">
                    <div class="thumb_sq">
                      <img src="../assets/img/img-01.png">
                    </div>
                    <div class="ttl_wrap">
                      <h3>What Joe Biden Means For Loans</h3>
                      <a href="#" class="news_cat sprt">sports</a>
                    </div>
                  </div>
                  <div class="news_cont">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its
                  </div>
                  <div class="news_rate">
                    <div class="bias-percent">
                      <span>CNBC:</span>
                      <div class="per-text">50%</div>
                      <span class="percentg">
                        <span class="blue-line"></span>
                        <span class="red-line"></span>
                      </span>
                    </div>
                    <a href="#">Bias</a>
                  </div>
                </div>
                <div class="news_wrap">
                  <div class="thumb_title">
                    <div class="thumb_sq">
                      <img src="../assets/img/img-01.png">
                    </div>
                    <div class="ttl_wrap">
                      <h3>Defence In depth</h3>
                      <a href="#" class="news_cat edu">Education</a>
                    </div>
                  </div>
                  <div class="news_cont">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its
                  </div>
                  <div class="news_rate">
                    <div class="bias-percent">
                      <span>CNBC:</span>
                      <div class="per-text">50%</div>
                      <span class="percentg">
                        <span class="blue-line"></span>
                        <span class="red-line"></span>
                      </span>
                    </div>
                    <a href="#">Bias</a>
                  </div>
                </div>
              </div>
              <!--------news from right--------------------->
              <div class="news_colms col-4">
                <h1 class="col_head right">News from Right</h1>
                <div class="news_wrap">
                  <div class="thumb_title">
                    <div class="thumb_sq">
                      <img src="../assets/img/img-01.png">
                    </div>
                    <div class="ttl_wrap">
                      <h3>What Joe Biden Means For Your Student Loans</h3>
                      <a href="#" class="news_cat edu">Education</a>
                    </div>
                  </div>
                  <div class="news_cont">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its
                  </div>
                  <div class="news_rate">
                    <div class="bias-percent">
                      <span>CNBC:</span>
                      <div class="per-text">50%</div>
                      <span class="percentg">
                        <span class="blue-line"></span>
                        <span class="red-line"></span>
                      </span>
                    </div>
                    <a href="#">Bias</a>
                  </div>
                </div>
                <div class="news_wrap">
                  <div class="thumb_title">
                    <div class="thumb_sq">
                      <img src="../assets/img/img-01.png">
                    </div>
                    <div class="ttl_wrap">
                      <h3>What Joe Biden Means For Your Student Loans</h3>
                      <a href="#" class="news_cat crm">crime</a>
                    </div>
                  </div>
                  <div class="news_cont">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its
                  </div>
                  <div class="news_rate">
                    <div class="bias-percent">
                      <span>CNBC:</span>
                      <div class="per-text">50%</div>
                      <span class="percentg">
                        <span class="blue-line"></span>
                        <span class="red-line"></span>
                      </span>
                    </div>
                    <a href="#">Bias</a>
                  </div>
                </div>
                <div class="news_wrap">
                  <div class="thumb_title">
                    <div class="thumb_sq">
                      <img src="../assets/img/img-01.png">
                    </div>
                    <div class="ttl_wrap">
                      <h3>What Joe Biden Means For Your Student Loans</h3>
                      <a href="#" class="news_cat edu">Education</a>
                    </div>
                  </div>
                  <div class="news_cont">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its
                  </div>
                  <div class="news_rate">
                    <div class="bias-percent">
                      <span>CNBC:</span>
                      <div class="per-text">50%</div>
                      <span class="percentg">
                        <span class="blue-line"></span>
                        <span class="red-line"></span>
                      </span>
                    </div>
                    <a href="#">Bias</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- News Room //////////////////////-->
          <div class="sign-up-text bottom-strip">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
              looking at its layout.</p>
            <a href="#">Sign up</a>
          </div>
        </div>
      </section>
      <!-- Center Area Part //////////////////////-->
      <!-- Right Part -->
      <div class="aside_cont">
        <div class="left-main">
          <h2 class="heading-title">From the Right</h2>
          <div class="aside_wrap">
            <!-- Post 01 -->
            <div class="post-content">
              <img src="../assets/img/img-01.png" alt="">
              <h2>John Doe</h2>
              <p>It is a long established fact that a reader will be distracted by the readable. </p>
              <div class="bias-percent">
                <span>Bias:</span>
                <div class="per-text">50%</div>
                <span class="percentg">
                  <span class="blue-line"></span>
                  <span class="red-line"></span>
                </span>
              </div>
            </div>
            <!-- Post 01 end -->
            <!-- Post 02 -->
            <div class="post-content">
              <img src="../assets/img/img-01.png" alt="">
              <h2>John Doe</h2>
              <p>It is a long established fact that a reader will be distracted by the readable. </p>
              <div class="bias-percent">
                <span>Bias:</span>
                <div class="per-text">50%</div>
                <span class="percentg">
                  <span class="blue-line"></span>
                  <span class="red-line"></span>
                </span>
              </div>
            </div>
            <!-- Post 02 end -->
            <!-- Post 03 -->
            <div class="post-content">
              <img src="../assets/img/img-01.png" alt="">
              <h2>John Doe</h2>
              <p>It is a long established fact that a reader will be distracted by the readable. </p>
              <div class="bias-percent">
                <span>Bias:</span>
                <div class="per-text">50%</div>
                <span class="percentg">
                  <span class="blue-line"></span>
                  <span class="red-line"></span>
                </span>
              </div>
            </div>
            <!-- Post 03 end -->
            <!-- Post 04 -->
            <div class="post-content">
              <img src="../assets/img/img-01.png" alt="">
              <h2>John Doe</h2>
              <p>It is a long established fact that a reader will be distracted by the readable. </p>
              <div class="bias-percent">
                <span>Bias:</span>
                <div class="per-text">50%</div>
                <span class="percentg">
                  <span class="blue-line"></span>
                  <span class="red-line"></span>
                </span>
              </div>
            </div>
          </div>
          <!-- Post 04 end -->
        </div>
      </div>
      <!-- Right Part //////////////////////-->
    </div>
    <footer id="footer">
      <div class="foot_row">
        <p>@copyright All Rights Reserved</p>
        <ul class="social_list">
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </footer>
  </div>
</section>
</div>
<router-outlet></router-outlet>
